body {
  margin: 0;
  font-family: Gill Sans, sans-serif;
  color: #FFFFFF;
  background-color: rgb(140, 192, 175);
  /* Yellow-green (#BAFF39) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
